<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录入口</title>
     <link rel="stylesheet" href="/static/css/bootstrap.css" >
    <style>
        body{
            {#background-color:burlywood;#}
            margin: auto;
            margin-TOP:100PX;
            width:20em;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="form row">
            <div class="form-horizontal col-md-3" id="login_form">
                <div class="form-group">
                    <input class="form-control required" type="text" placeholder="Username" id="username" name="username" autofocus="autofocus" maxlength="20"/>
                </div>
                <div class="form-group">
                    <input class="form-control required" type="password" placeholder="Password" id="password" name="password" maxlength="8" aria-describedby="basic-addon1"/>
                </div>
                <div class="form-group">
                    <input class="form-control" type="email" placeholder="Email" id="email" name="email" autofocus="autofocus"/>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Logintime" id="Logintime" name="Logintime"/>
                </div>
{#                    <div class="form-group">#}
{#                        <label class="checkbox">#}
{#                            <input type="checkbox" name="remember" value="1"/>记住我#}
{#                        </label>#}
{#                    </div>#}
                <div class="form-group">
                    <button type="submit" class="btn btn-success col-md-4 col-md-offset-4" name="submit">登 录</button>
                </div>

            </div>
        </div>
    </div>
</body>
</html>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script>



</script>